<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Check-out/After Stay (Behavior Feedback)</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + '/bootstrap/css/theme/' + theme + '/bootstrap.css' %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + '/bootstrap/css/jumbotron-narrow.css' %>" rel="stylesheet">
    
   	<!-- JQuery.js -->
    <script src="<%= static_path + '/jquery/jquery-1.11.3.min.js' %>"></script>

    <!-- JQuery.ratit.js -->
    <link href="<%= static_path + '/js/rateit/rateit.css' %>" rel="stylesheet">    
    <script src="<%= static_path + '/js/rateit/jquery.rateit.min.js' %>"></script>
  </head>

  <body>
	<div>
		<lable><%- error_msg %></label>
	</div>

  	<div>
  		<%- __('checkout2.header') %>
  	</div>

    <form action="<%= '/' + hotel_id + '/checkout/checkout3' %>" method="post">
      <div>
          <label><%- __('checkout2.rank') %></label>
      </div>

	  <input type="range" min="0" max="5" value="0" step="1" id="rank" name="rank">
	  <div class='rateit' data-rateit-mode="font"  style="font-size:30px" data-rateit-backingfld="#rank"></div>
      <div>
          <input type="submit" id="next" value="<%- __('checkout2.proceed') %>"/>
      </div>
  </form>    
  </body>
</html>