<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Check-out/After Stay (Behavior Feedback)</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + '/bootstrap/css/theme/' + theme + '/bootstrap.css' %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + '/bootstrap/css/jumbotron-narrow.css' %>" rel="stylesheet">
  </head>

  <body>
	<div>
		<lable><%- error_msg %></label>
	</div>

  	<div>
  		<%- __('checkout2.header') %>
  	</div>

    <form action="<%= '/' + hotel_id + '/checkout/checkout3' %>" method="post">
      <div>
          <label><%- __('checkout2.rank') %></label>
      </div>
      <div>
          <input type="text" id="rank" name="rank" value="<%= rank %>"/>
      </div>
      <div>
          <input type="submit" id="next" value="<%- __('checkout2.proceed') %>"/>
      </div>
  </form>    
  </body>
</html>