<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Check-out/After Stay (Behavior Feedback)</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

	<!-- JQuery.js -->
    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
  </head>

  <body>
	<div>
		<lable><%- error_msg %></label>
	</div>

  	<div>
  		<%- __('checkout1.header') %>
  	</div>

    <form action="" method="post">
      <div>
          <label><%= __('checkout1.roomNo') %></label>
          <input type="text" id="roomNo" name="roomNo" value="<%= roomNo %>"/>
      </div>
      <div>
          <label><%= __('checkout1.checkinDate') %></label>
          <input type="text" id="checkinDate" name="checkinDate" value="<%= checkinDate %>"/>
      </div>
      <div>
      	<label><%= __('checkout1.language') %></label>
		<select name="language" id="language">
			<option value="ja" <% if(language == 'ja'){ %> selected <% } %>>日本語</option>
			<option value="en" <% if(language == 'en'){ %> selected <% } %>>English</option>
			<option value="cn" <% if(language == 'cn'){ %> selected <% } %>>Chinese</option>
		</select>
        <input type="button" id="langchange" value="change"/>
      </div>
      <div>
          <input type="button" id="next" value="<%= __('checkout1.proceed') %>"/>
      </div>
  </form>    
  <script>
    <!--
    $("#langchange").click(function(event){
		$('form').attr('action', '<%= '/' + hotel_id + "/langchange/" %>');
		$('form').submit();
    });    
    $("#next").click(function(event){
		$('form').attr('action', '<%= '/' + hotel_id + "/checkout/checkout2/" %>');
		$('form').submit();
    });    
    //-->
  </script>
  </body>
</html>
