<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Check in (Behavior Request)</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">
  </head>

  <body>
	<div>
		<lable><%- error_msg %></label>
	</div>
  	<div>
  		<%- __('checkin1.header') %>
  	</div>

    <form action="<%- '/' + hotel_id + '/checkin/checkin2' %>" method="post">
      <div>
          <label><%= __('checkin1.gender') %></label>
          <input type="radio" id="gender" name="gender" value="male" <%if (gender == 'male'){ %>checked="checked"<% } %> /><%= __('checkin1.male') %>
          <input type="radio" id="gender" name="gender" value="femail" <%if (gender == 'femail'){ %>checked="checked"<% } %>/><%= __('checkin1.female') %>          
      </div>
      <div>
          <label><%= __('checkin1.roomNo') %></label>
          <input type="text" id="roomNo" name="roomNo" value="<%= roomNo %>"/>
      </div>
      <div>
          <input type="submit" id="next" value="<%= __('checkin1.proceed') %>"/>
      </div>
  </form>    
  </body>
</html>
