<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>mypage</title>
 
    <!-- aws sdk //-->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.8.min.js"></script>
    <!-- aws cognito sdk (public beta!!) //-->
    <script src="<%= static_path + "/js/jsbn.js" %>"></script>
    <script src="<%= static_path + "/js/jsbn2.js" %>"></script>
    <script src="<%= static_path + "/js/sjcl.js" %>"></script>
    <script src="<%= static_path + "/js/aws-cognito-sdk.min.js" %>"></script>
    <script src="<%= static_path + "/js/amazon-cognito-identity.min.js" %>"></script>
    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>
  <body>
     <div>
     <h1>mypage</h1>
        <div id="username">Username: XXXXX</div>
        <div id="email">EMail: XXXXX</div>
 
    </div>
  </body>
</html>