<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>During Stay (Behavior Lookup)</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + '/bootstrap/css/theme/' + theme + '/bootstrap.css' %>" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="<%= static_path + '/bootstrap/css/jumbotron-narrow.css' %>" rel="stylesheet"/>

	<!-- JQuery.js -->
    <script src="<%= static_path + '/jquery/jquery-1.11.3.min.js' %>"></script>
  </head>

  <body>
	<div>
		<label><%- error_msg %></label>
	</div>

  	<div>
  		<%- __('lookup1.header') %>
  	</div>

    <form action="<%= '/' + hotel_id + '/guest-lookup/lookup2/' %>" method="post">
      <div>
          <label><%- __('lookup1.roomNo') %></label>
          <input type="text" id="roomNo" name="roomNo" value="<%= roomNo %>"/>
      </div>
      <div>
          <label><%- __('lookup1.checkinDate') %></label>
          <input type="text" id="checkinDate" name="checkinDate" list="checkindatelist" value="<%= checkinDate %>" autocomplete="on"/>
			 <datalist id="checkindatelist">
			 </datalist>
      </div>
      <div>
          <input type="submit" id="next" value="<%- __('lookup1.proceed') %>"/>
      </div>
  </form>
  <script>
    <!--
    $("#roomNo").change(function(){
    	if($("#roomNo").val() === ''){
    		return false;
    	}
    	  // Ajax通信を開始
    	  $.ajax({
    	    url: '<%= '/api/' + hotel_id + '/searchRoomNo/' %>',
    	    type: 'POST',
    	    dataType: 'json',
    	    // フォーム要素の内容をハッシュ形式に変換
    	    data: $('form').serializeArray(),
    	    timeout: 5000,
    	  })
    	  .done(function(data) {
    	      // 通信成功時の処理を記述

    	      //DatalistのOptionを削除
			  $('#checkindatelist').empty();       		  

    	      // データが存在する間forで繰り返しoptionを追加
    	      var plist;
       		  for (var i in data){
	       		    plist = $('<option>').html(data[i].CHECK_IN_DATE).val(data[i].CHECK_IN_DATE);
        		    $("#checkindatelist").append(plist);
       		  }
       		  //AutoComplete = Off
       		  $("#checkinDate").attr('autocomplete', 'off');
		 })
    	  .fail(function() {
    	      // 通信失敗時の処理を記述
    	      alert("error");
    	  });   
    });    
    -->
   </script>
      
  </body>
</html>
