<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <title>Selection Menu</title>
 
    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + '/bootstrap/css/theme/' + theme + '/bootstrap.css' %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + '/bootstrap/css/jumbotron-narrow.css' %>" rel="stylesheet">

	<!-- JQuery.js -->
    <script src="<%= static_path + '/jquery/jquery-1.11.3.min.js' %>"></script>
  </head>
  
  <body>
  	<div>
  		<%- __('menu.header') %>
  	</div>
     <div>
	    <form action="" method="post">
	      <div>
	          <input type="button" id="checkin" value="Check-in"/>
	      </div>
	      <div>
	          <input type="button" id="lookup" value="Guest Look-up"/>
	      </div>
	      <div>
	          <input type="button" id="checkout" value="Check-out"/>
	      </div>
    </div>
    <script>
    <!--
    $("#checkin").click(function(event){
		$('form').attr('action', '<%= "/" + hotel_id + "/checkin/checkin1" %>');
		$('form').submit();
    });
    
    $("#lookup").click(function(event){
		$('form').attr('action', '<%= "/" +  hotel_id + "/guest-lookup/lookup1" %>');
		$('form').submit();
    });

    $("#checkout").click(function(event){
		$('form').attr('action', '<%=  "/" + hotel_id + "/checkout/checkout1" %>');
		$('form').submit();
    });    
    //-->
	</script>
  </body>
</html>